// Widescreens
@include mediaXl {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }

  .boxes {
    div {
      width: 70%;
      font-size: 2rem;
      text-align: center;
    }
  }
}

// Desktops & Laptops
@include mediaLg {
  main {
    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }

    .sm-heading {
      margin-top: 1rem;
    }
  }

  .projects {
    grid-template-columns: repeat(3, 1fr);
  }

  .boxes {
    div {
      width: 70%;
      font-size: 1.5rem;
      text-align: center;
    }
  }
}

// Tablets & Notebooks
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin: 1rem -2rem;
    }

    .sm-heading {
      margin-left: -2rem;
      margin-right: -2rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url(../img/portrait-small.jpg);
      width: 150px;
      height: 150px;
    }
  }

  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";

    grid-template-columns: 1fr;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  .btn-line {
    // Blinking Effect On Menu Button
    &:nth-child(1) {
      animation: blinker 1s 3s linear infinite;
    }
    &:nth-child(2) {
      animation: blinker 1s 3s linear infinite;
    }
    &:nth-child(3) {
      animation: blinker 1s 3s linear infinite;
    }
  }

  .menu-btn.close {
    transform: rotate(180deg);

    .btn-line {
      // Line 1 - Rotate
      &:nth-child(1) {
        animation: none;
        transform: rotate(45deg) translate(6px, 5px);
      }
      // Line 2 - Hide
      &:nth-child(2) {
        animation: none;
        opacity: 0;
      }
      // Line 3 - Rotate
      &:nth-child(3) {
        animation: none;
        transform: rotate(-45deg) translate(6px, -5px);
      }
    }
  }

  .boxes {
    div {
      width: 70%;
      font-size: 1rem;
      text-align: center;
    }
  }
}

// Smartphones
@include mediaSm {
  h1.lg-heading {
    font-size: 2rem;
  }

  h2.sm-heading-about {
    font-size: 1rem;
  }

  h2.sm-heading {
    font-size: 1rem;
  }

  .menu {
    .menu-nav .nav-item {
      a {
        font-size: 1.5rem;
      }
    }
  }

  .about-info {
    .bio-image {
      grid-area: bioimage;
      height: 10rem;
      width: 10rem;
      margin: auto;
      border-radius: 50%;
      border: $secondary-color 3px solid;
    }

    .bio {
      font-size: 1rem;
      text-align: left;

      .text-secondary {
        font-size: 1.5rem;
        text-align: center;
      }
    }
  }

  .job {
    p {
      text-align: left;
    }
  }

  .projects {
    grid-template-columns: 1fr;
  }

  .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: left;
    margin-top: 1rem;

    div {
      width: 100%;
      text-align: center;
      font-size: 1rem;
    }
  }
}

// Small Smartphones
@include mediaXs {
  h1.lg-heading {
    font-size: 3rem;
  }

  h2.sm-heading {
    font-size: 1.5rem;
  }

  .projects {
    grid-template-columns: 1fr;
  }

  .boxes {
    div {
      width: 140%;
      text-align: center;
      font-size: 1rem;
    }
  }
}
